.button{
    -fx-background-color: #eee9e9;
    -fx-border-color: #c9c9c9;
    
}

.button:hover{
    -fx-text-fill: white ;
    -fx-background-color: #9d9a9a;
}

#result{
    -fx-background-color: #eee9e9;
    -fx-text-fill : black;
}
#actual{
    -fx-background-color: #eee9e9;
    -fx-text-fill: black;
}   
